// Font-family variables
@import url('https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic');

$code-font: 'Fira Code';
$heading-font: 'Eczar';
$primary-font: 'Gentium Basic';
$fallback-font: Helvetica;    


// Site Colors
$primary-blue: #6495ed;
$black: #060606;
$grey: #333;
$white: #eee;