// Font-family variables
@import url('https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic');

$code-font: 'Fira Code';
$heading-font: 'Eczar';
$primary-font: 'Gentium Basic';
$fallback-font: Helvetica;    
