@import url("https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic");
/* Create a step size. */
/* This is the percentage each heading will be reduced by. */
/* Amplifier value */
/* The mixin */
body {
  font-family: "Gentium Basic";
  color: #eee; }

h1, h2, h3, h4, h5 {
  font-family: "Eczar";
  color: #eee; }

h1 {
  font-size: 2.99997em; }

h2 {
  font-size: 2.49998em; }

h3 {
  font-size: 1.99998em; }

h4 {
  font-size: 1.49999em; }

h5 {
  font-size: 0.99999em; }

h6 {
  font-size: 0.5em; }

p {
  color: #eee;
  font-size: 1.125em; }

@keyframes mirror-flip {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(-1, 1); }
  100% {
    transform: scale(1, 1); } }

/* The typing animation effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor animation effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.main-nav li {
  font-size: 1.125em; }
  .main-nav li a:hover {
    color: #caf37b; }
  .main-nav li .fa {
    margin-right: 10px; }
  .main-nav li [class*="devicon-"] {
    margin-right: 10px; }
  .main-nav li a.active, .main-nav li a.active:hover, .main-nav li a.active:focus {
    background-color: #333;
    color: #6495ed; }

.main-nav .navbar-brand {
  font-family: "Fira Code"; }

.main-footer {
  background: #333;
  padding: 5px 0 2.5px;
  font-size: 1.5em; }
  .main-footer .copyright {
    color: #6495ed;
    font-size: 1.5em;
    display: inline-block;
    animation: mirror-flip 3s infinite; }

.home-page .jumbotron {
  margin-top: -70px;
  background: url("~/dist/images/hero-view.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-height: 450px;
  padding-bottom: 450px;
  margin-bottom: 0px; }

.home-page__tagline {
  font-family: "Fira Code"; }

.home-page__about-section {
  background: url("~/dist/images/bg-5.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  padding: 90px 0 100px;
  color: #eee;
  margin: auto; }
  .home-page__about-section > .row {
    margin: auto; }

.home-page__skills-section [class*="devicon-"] {
  font-size: 3.25em;
  color: cornflowerblue; }

.my-work {
  padding: 0 20px; }
  .my-work__portfolio-section {
    padding: 0 30px 30px; }
    .my-work__portfolio-section .portfolio-item {
      padding: 10px 10px; }
    .my-work__portfolio-section .btn {
      margin-top: 10px; }

.project__image-grid-area {
  padding: 0 20px; }
  .project__image-grid-area .project-description {
    padding: 20px 0; }
  .project__image-grid-area .fa-ul {
    padding: 0 40px; }
    .project__image-grid-area .fa-ul .fa-li {
      color: #6495ed; }
    .project__image-grid-area .fa-ul li {
      padding: 0 0 10px;
      font-size: 1.25em; }
  .project__image-grid-area .typewriter-heading {
    padding: 10px 20px; }
    .project__image-grid-area .typewriter-heading h4 {
      font-family: 'Fira Code';
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em;
      /* Adjust as needed */
      animation: typing 8.5s steps(30, end) infinite, blink-caret 0.5s step-end infinite; }

.project a {
  text-decoration-color: #f67f21;
  text-decoration-style: double;
  text-decoration-skip: ink; }

.project h2 {
  color: #6495ed; }

.project h3 {
  margin-top: 10px; }

.project h4 {
  color: #6495ed; }

.project .project-logo-img {
  margin-left: 10px;
  width: 60px;
  height: 60px; }

.project .project-icon-img {
  max-width: 80px;
  display: inline;
  margin: 0 10px; }

.skraach a {
  text-decoration-color: #bb2025; }

.skraach .skraach-logo {
  border-radius: 50%; }

.vafb a {
  text-decoration-color: #8a2432; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.carousel .carousel-indicators li {
  border: 1px solid #6495ed; }
  .carousel .carousel-indicators li.active {
    background-color: #6495ed; }

.carousel .carousel-control .glyphicon {
  color: #6495ed; }

.carousel .carousel-control.left {
  background-image: none !important; }

.carousel .carousel-control.right {
  background-image: none !important; }

