@import url("https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic");
/* Create a step size. */
/* This is the percentage each heading will be reduced by. */
/* Amplifier value */
/* The mixin */
body {
  font-family: "Gentium Basic";
  color: #eee; }

h1, h2, h3, h4, h5 {
  font-family: "Eczar";
  color: #eee; }

h1 {
  font-size: 2.99997em; }

h2 {
  font-size: 2.49998em; }

h3 {
  font-size: 1.99998em; }

h4 {
  font-size: 1.49999em; }

h5 {
  font-size: 0.99999em; }

h6 {
  font-size: 0.5em; }

p {
  color: #eee;
  font-size: 1.125em; }

@keyframes mirror-flip {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(-1, 1); }
  100% {
    transform: scale(1, 1); } }

.main-nav li {
  font-size: 1.125em; }
  .main-nav li a:hover {
    color: #caf37b; }
  .main-nav li .fa {
    margin-right: 10px; }
  .main-nav li [class*="devicon-"] {
    margin-right: 10px; }
  .main-nav li a.active, .main-nav li a.active:hover, .main-nav li a.active:focus {
    background-color: #333;
    color: #6495ed; }

.main-nav .navbar-brand {
  font-family: "Fira Code"; }

.main-footer {
  background: #333;
  padding: 5px 0 2.5px;
  font-size: 1.5em; }
  .main-footer .copyright {
    color: #6495ed;
    font-size: 1.5em;
    display: inline-block;
    animation: mirror-flip 3s infinite; }

.home-page .jumbotron {
  margin-top: -70px;
  background: url("~/dist/images/hero-view.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-height: 450px;
  padding-bottom: 450px;
  margin-bottom: 0px; }

.home-page__tagline {
  font-family: "Fira Code"; }

.home-page__about-section {
  background: url("~/dist/images/bg-5.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  padding: 90px 0 100px;
  color: #eee;
  margin: auto; }
  .home-page__about-section > .row {
    margin: auto; }

.home-page__skills-section [class*="devicon-"] {
  font-size: 3.25em;
  color: cornflowerblue; }

.my-work__portfolio-grid .container {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

