<div class="about-me">
    <h2 class="text-center">Who Am I?</h2>
    
    <div class="row text-center">
        <div class="col-sm-6 text-center">
            <img class="img img-responsive"src="./dist/images/us1.jpg" alt="Old career pic 1" />
            <h3>Declan a few weeks after birth</h3>
        </div>
        <div class="col-sm-6">
            <p>As I said before, I am foremost a husband and a father. The most difficult thing I ever faced in life was almost losing my son, Declan. He stopped breathing after birth and spent months in the NICU on a respirator.</p>
            <p>Doctor's did not believe he would make it and that if he did that he would be in a vegetative state. I remember the day that my son's eyes finally opened and he looked at me. That is the moment that I began to believe in the impossible.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            <div class="col-text">
                <p>I watched my son defy all the odds that doctor's placed against him. He kept progressing and achieving milestones that we were told would be impossible for him.</p>
                <p>Watching him inspired me to pursue achieving my dream of becoming a software developer. It had long been a hobby of mine and something I wanted to do, but told myself it was too late.</p>
                <p>My son inspires me everyday to push myself to be the best I can be at everything I do. To not complain and be thankful for second chances. He is the strength behind every obstacle I overcome.</p>
            </div> 
        </div>
        <div class="col-sm-4 text-center">
            <h3 class="text-center">Declan July 2017</h3>
            <img class="img img-responsive" src="./dist/images/us2-cropped.jpg" alt="Old career pic 1" />
        </div>
    </div>
</div>