<main class="my-work">
    <header class="text-center">
        <h1>Things I've Built</h1>
    </header>
    <section class="my-work__portfolio-section">
        <div class="row">
            <div class="col-sm-6 portfolio-item text-center">
                <h2>Oakwood Properties</h2>
                <img class="img img-responsive" src="./dist/images/oak1.png" alt="Oakwood site screenshot"/>
                <a href="/oakwood"><div class="btn btn-primary" data-bind="click: scrollToTop">View Project Details</div></a>
            </div>
            <div class="col-sm-6 portfolio-item text-center">
                <h2>Skraach</h2>
                <img class="img img-responsive" src="./dist/images/skraach-resized.PNG" alt="Skraach site screenshot"/>
                <a href="/skraach"><div class="btn btn-primary" data-bind="click: scrollToTop">View Project Details</div></a>
            </div>
            <div class="col-sm-6 portfolio-item text-center">
                <h2>Viginia Farm Bureau</h2>
                <img class="img img-responsive" src="./dist/images/vafb-resized.png" alt="VAFB site screenshot" />
                <a href="/vafb"><div class="btn btn-primary" data-bind="click: scrollToTop">View Project Details</div></a>
            </div>
            <div class="col-sm-6 portfolio-item text-center">
                <h2>BHRSC</h2>
                <img class="img img-responsive" src="./dist/images/bhrsc-resized.png" alt="Basset Hound Rescue of Southern California Pic"/>
                <a href="/bhrsc"><div class="btn btn-primary" data-bind="click: scrollToTop">View Project Details</div></a>
            </div>
        </div>
    </section>
</main>