.my-work {
    padding: 0 20px;


    &__portfolio-section {
        //background: linear-gradient(#96deda, #50c9c3);
        padding: 0 30px 30px;

        .portfolio-item {
            padding: 10px 10px;
        }

        .btn {
            margin-top: 10px;
        }

        h2 {
            //color: black;
        }
    }
}
