.main-nav {
    & li {
        font-size: em(18);

        a:hover {
            color: #caf37b;
        }

        .fa {
            margin-right: 10px;
        }

        [class*="devicon-"] {
            margin-right: 10px;
        }

        & a.active, a.active:hover, a.active:focus {
            background-color: $grey;
            color: $primary-blue;
        }
    }

    .navbar-brand {
        font-family: $code-font;
    }
}
